body, input, select, textarea {
		color: #9a9a9a;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}
/*
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
	border-bottom: 1px solid grey;
}*/

#blogMargin{
	margin: 20px;
}

#banner {
		padding: 12em 0 10em 0;
		background-image: url('../resources/banner.jpg');
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		border-top: 0.5em solid #5385c1;
	}

	#banner h1 {
			font-size: 4em;
			font-weight: 100;
			color: #fff;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			font-size: 1em;
			color: rgba(255, 255, 255, 0.55);
			margin-bottom: 1.75em;
		}
/*
#imgContainer{
	height: auto;
	width: auto;
}
*/
#imgBack{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
		opacity: 0.3;
}

/* scrollama */
#scroll {
	position: relative;
	/*border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;*/
}
.scroll__graphic {
	position: absolute;
	top: 0;
	left: 0;
	bottom: auto;
	background-color: #ffffff;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.scroll__graphic.is-fixed {
	position: fixed;
}
.scroll__graphic.is-bottom {
	bottom: 0;
	top: auto;
}
.chart {
	position: absolute;
	right: 1rem;
	top: 10%;
	-moz-transform: translateY(-10%);
	-webkit-transform: translateY(-10%);
	transform: translateY(-10%);
	/*background-color: #ddd;
	border: 1px solid #000;*/
}
.chart img {
	padding: 1rem;
	position: absolute;
	top: 10%;
	left: 10%;
	-moz-transform: translate(-10%, -10%);
	-webkit-transform: translate(-10%, -10%);
	transform: translate(-10%, -10%);
	height: 729px;
	width: 890px;
}
.scroll__text {
	position: relative;
	padding: 0 1rem;
	max-width: 30rem;
	width: 33%;
}
.step {
	margin: 2rem auto;
}
.step.is-active {
	/*background-color: lightgoldenrodyellow;
	background-color: #d3ede3;
	background-color: #5385c1;*/
	border: 1px solid #5385c1;
}
.step p {
	text-align: center;
	padding: 1rem;
	font-size: 1.5rem;
}
